<nav class="p-5 bg-white shadow md:flex md:items-center md:justify-between">
  <div>
    <span class="cursor-pointer">
      <img
        class="h-6 inline"
        src="/assets/home-image/aiaDevs-logo.png"
        alt=""
      />
    </span>
    <span>
      <mat-icon></mat-icon>
    </span>
  </div>
  <ul class="md:flex md:items-center md:z-auto md:static absolute bg-blue-900 w-full left-0 md:w-auto md:py-0 py-0 md:pl-0 pl-7 md:opacity-100 opacity-0 top-96 transition-all ease-in">
    <li class="mx-4 my-6 md:my-0">
      <a class="cursor-pointer duration-500" href="">Home</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a class="cursor-pointer duration-500" href="">About</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a class="cursor-pointer duration-500" href="">Service</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a class="cursor-pointer duration-500" href="">Product</a>
    </li>
    <li class="mx-4 my-6 md:my-0">
      <a class="cursor-pointer duration-500" href="">Contact</a>
    </li>
    <button  class="mx-4 px-6 py-2 bg-slate-500 duration-500">LogIn</button>
  </ul>
</nav>
