<!-- Our services -->
<div class="pt-4 py-6 bg-gray-800">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <h1 class="flex justify-center text-white">Our Services</h1>
      <div class="flex justify-center pb-6">
        <hr class="w-52" />
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/eCommerce-development.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">
            eCommerce Development
          </p>
          <p class="flex justify-center text-center">
            Grow your Business Online with e Commerce <br />Services. We enable
            Startups, brands and retailers to <br />start selling their products
            online.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/graphics-design.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">
            Graphics Design
          </p>
          <p class="flex justify-center text-center">
            We offering you a complete collection of static <br />graphics
            design services to showcase your identity and for <br />your
            business / brand.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/web-development.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">
            Web Development
          </p>
          <p class="flex justify-center text-center">
            Make a statement with modern web design <br />services designed to
            grow your business. We offer custom <br />web design for any
            companies.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/social-marketing.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">SM Branding</p>
          <p class="flex justify-center text-center">
            Social media branding is one of the best ways to <br />build a loyal
            brand following and establish yourself or <br />your company as an
            industry leader.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/digital-marketing.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">
            Digital Marketing
          </p>
          <p class="flex justify-center text-center">
            Our skilled team of Digital marketers will create, <br />manage, and
            deliver top-performing social media campaigns <br />for your
            business.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <div class="px-10 py-6 bg-white rounded-md shadow-md">
          <div class="flex justify-center">
            <img
              class="h-12 w-14"
              src="/assets/home-image/content-creator.png"
              alt=""
            />
          </div>
          <p class="flex justify-center text-base font-medium">
            Content Creator
          </p>
          <p class="flex justify-center text-center">
            We are content creating services provider. Our team <br />of experts
            can help build your digital presence through a <br />successful
            content strategy.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our services -->
<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-3">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <p class="flex justify-center text-base font-medium">
          1371
        </p>
        <p class="flex justify-center text-center">
          Days Worked
        </p>
      </div>
    </div>
    <div class="col-span-3">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <p class="flex justify-center text-base font-medium">477</p>
        <p class="flex justify-center text-center">
          We offering you a complete collection of static <br />graphics design
          services to showcase your identity and for <br />your business /
          brand.
        </p>
      </div>
    </div>
    <div class="col-span-3">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <p class="flex justify-center text-base font-medium">Web Development</p>
        <p class="flex justify-center text-center">
          Make a statement with modern web design <br />services designed to
          grow your business. We offer custom <br />web design for any
          companies.
        </p>
      </div>
    </div>
    <div class="col-span-3">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <p class="flex justify-center text-base font-medium">Web Development</p>
        <p class="flex justify-center text-center">
          Make a statement with modern web design <br />services designed to
          grow your business. We offer custom <br />web design for any
          companies.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Happy clients -->
<div class="grid grid-cols-12 gap-4 mx-auto">
  <div class="col-span-12">
    <h1 class="flex justify-center">Happy Clients</h1>
    <p class="flex justify-center">We will ready for your services</p>
    <div class="flex justify-center pb-6">
      <hr class="w-60" />
    </div>
  </div>
</div>
<div class="container mx-auto">
  <div class="grid grid-cols-12 gap-6">
    <div class="col-span-4">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <div class="flex justify-center">
          <img
            class="h-16 w-16 p-0.5 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
            src="/assets/home-image/tarik-hossain.jpg"
            alt=""
          />
        </div>
        <p class="flex justify-center text-base font-medium">
          Mr. Tarik Hossain
        </p>
        <p class="flex justify-center text-sm font-medium">Founder & CEO</p>
        <p class="flex justify-center text-center">
          Grow your Business Online with e Commerce Services.<br />We enable
          Startups, brands and retailers to start selling <br />their products
          online.
        </p>
      </div>
    </div>
    <div class="col-span-4">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <div class="flex justify-center">
          <img
            class="h-16 w-16 p-0.5 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
            src="/assets/home-image/shamim-reza.jpg"
            alt=""
          />
        </div>
        <p class="flex justify-center text-base font-medium">Mr. Shamim Reza</p>
        <p class="flex justify-center text-sm font-medium">Founder & COO</p>
        <p class="flex justify-center text-center">
          Grow your Business Online with e Commerce Services.<br />We enable
          Startups, brands and retailers to start selling <br />their products
          online.
        </p>
      </div>
    </div>
    <div class="col-span-4">
      <div class="px-10 py-6 bg-white rounded-md shadow-md">
        <div class="flex justify-center">
          <img
            class="h-16 w-16 p-0.5 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
            src="/assets/home-image/imran-hossain.jpg"
            alt=""
          />
        </div>
        <p class="flex justify-center text-base font-medium">
          Md. Imran Hossain
        </p>
        <p class="flex justify-center text-sm font-medium">Entrepreneur</p>
        <p class="flex justify-center text-center">
          Grow your Business Online with e Commerce Services.<br />We enable
          Startups, brands and retailers to start selling <br />their products
          online.
        </p>
      </div>
    </div>
  </div>
</div>
