<!-- hero sections -->
<section class="pt-8 lg:pt-14">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-7">
            <p class="text-lg lg:text-5xl font-bold">
              Everything you need to <br />run your online
              <span class="text-sky-700">business</span>
            </p>
            <mat-divider class="w-10 h-1 bg-sky-700"></mat-divider>
            <p class="pt-4 lg:pt-8 py-2 text-xs lg:text-base">
              aiaDevs is one of the pioneers of <br />eCommerce development,
              Graphics Designing, Digital marketing<br />
              & Web development Company.
            </p>
            <a
              href=""
              class="bg-sky-700 text-white text-xs lg:text-base px-6 lg:px-8 py-1 lg:py-1.5 rounded-full shadow-lg shadow-sky-500/50"
              >Service</a
            >
          </div>
          <div class="col-span-5 flex justify-end">
            <img
              class="h-44 lg:h-72"
              src="/assets/home-image/aiaDevs-hero-section.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Solutions -->
<div class="pt-24">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 text-center">
      <p class="text-sky-700 text-base font-bold uppercase">Our Solutions</p>
      <p class="text-4xl font-bold">
        We Different From Others <br />Should Choose Us
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        <br />tempor incididunt ut labore et dolore magna.
      </p>
    </div>
  </div>
  <div class="container mx-auto pt-8">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-span-4">
            <div
              class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700"
            >
              <div class="flex justify-center">
                <img
                  class="h-12 w-14"
                  src="/assets/home-image/access-contror.png"
                  alt=""
                />
              </div>
              <p class="flex justify-center text-lg font-bold pt-6">
                Access Controlled
              </p>
              <p class="flex justify-center text-center">
                Grow your Business Online with e Commerce services. We enable
                Startups, brands and retailers to start selling their products
                online.
              </p>
              <p
                class="flex justify-center text-sky-700 text-base font-bold cursor-pointer"
                routerLink=""
              >
                View More
              </p>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-4">
            <div
              class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700"
            >
              <div class="flex justify-center">
                <img
                  class="h-12 w-14"
                  src="/assets/home-image/code-security.png"
                  alt=""
                />
              </div>
              <p class="flex justify-center text-lg font-bold pt-6">
                Code Security
              </p>
              <p class="flex justify-center text-center">
                Grow your Business Online with e Commerce services. We enable
                Startups, brands and retailers to start selling their products
                online.
              </p>
              <p
                class="flex justify-center text-sky-700 text-base font-bold cursor-pointer"
                routerLink=""
              >
                View More
              </p>
            </div>
          </div>
          <div class="col-span-12 lg:col-span-4">
            <div
              class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700"
            >
              <div class="flex justify-center">
                <img
                  class="h-12 w-14"
                  src="/assets/home-image/team-management.png"
                  alt=""
                />
              </div>
              <p class="flex justify-center text-lg font-bold pt-6">
                Team Management
              </p>
              <p class="flex justify-center text-center">
                Grow your Business Online with e Commerce services. We enable
                Startups, brands and retailers to start selling their products
                online.
              </p>
              <p
                class="flex justify-center text-sky-700 text-base font-bold cursor-pointer"
                routerLink=""
              >
                View More
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Us -->
<!-- <div class="container mx-auto">
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-6">
          <div class="h-80">
            <img src="/assets/home-image/about-aiaDevs.png" alt="" />
          </div>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <p class="text-xl underline">
            About aia<span class="text-red-500">D</span>evs
          </p>
          <p class="text-xs lg:text-base text-justify">
            aiaDevs is a software development company that provides innovative
            and custom software solutions to businesses. With a team of
            experienced developers, designers, and project managers, aiaDevs
            creates tailored software solutions to meet the unique needs of its
            clients. Their services include software development, website design
            and development, mobile app development, cloud computing, and more.
            They aim to deliver high-quality products that improve business
            efficiency and profitability.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Design & Development -->
<div class="container mx-auto pt-24">
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-6">
          <div class="h-80">
            <img src="/assets/home-image/web-design-development.png" alt="" />
          </div>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <p class="text-base text-sky-700 font-bold uppercase">Services</p>
          <p class="text-4xl font-bold">Design & Development</p>
          <p class="text-xs lg:text-base text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <div class="pt-10">
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/access-contror.png" alt="">
                <div>
                  <p class="text-lg font-bold">Web Development</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/team-management.png" alt="">
                <div>
                  <p class="text-lg font-bold">eCommerce Development</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/access-contror.png" alt="">
                <div>
                  <p class="text-lg font-bold">Graphics Design</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/code-security.png" alt="">
                <div>
                  <p class="text-lg font-bold">Social Marketing</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Design & Development -->
<div class="container mx-auto pt-24">
  <div class="grid grid-cols-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-6">
          <p class="text-base text-sky-700 font-bold uppercase">Services</p>
          <p class="text-4xl font-bold">Hosting Services</p>
          <p class="text-xs lg:text-base text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <div class="pt-10">
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/access-contror.png" alt="">
                <div>
                  <p class="text-lg font-bold">Website Hosting</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/team-management.png" alt="">
                <div>
                  <p class="text-lg font-bold">Cloud Databases</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/access-contror.png" alt="">
                <div>
                  <p class="text-lg font-bold">Email Servers</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
            <div class="flex gap-6">
                <img class="h-12 w-12 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50" src="/assets/home-image/code-security.png" alt="">
                <div>
                  <p class="text-lg font-bold">File Backups</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <div class="h-80">
            <img src="/assets/home-image/web-hosting.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project & Clients Calculations -->
<div class="bg-slate-500 my-10">
  <div class="container mx-auto py-10">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4">
          <div
            class="col-span-6 lg:col-span-3 border border-white shadow shadow-white rounded-md py-8"
          >
            <div class="text-center text-white">
              <p class="text-xl font-medium">1371</p>
              <p>Days Worked</p>
            </div>
          </div>
          <div
            class="col-span-6 lg:col-span-3 border border-white shadow shadow-white rounded-md py-8"
          >
            <div class="text-center text-white">
              <p class="text-xl font-medium">477</p>
              <p>Project Finished</p>
            </div>
          </div>
          <div
            class="col-span-6 lg:col-span-3 border border-white shadow shadow-white rounded-md py-8"
          >
            <div class="text-center text-white">
              <p class="text-xl font-medium">360+</p>
              <p>Dedicated Employees</p>
            </div>
          </div>
          <div
            class="col-span-6 lg:col-span-3 border border-white shadow shadow-white rounded-md py-8"
          >
            <div class="text-center text-white">
              <p class="text-xl font-medium">500+</p>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Happy clients -->
<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 text-center">
    <p class="text-sky-700 text-base font-bold uppercase">Happy Clients</p>
    <p class="text-4xl font-bold">
      We Different From Others <br />Should Choose Us
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      <br />tempor incididunt ut labore et dolore magna.
    </p>
  </div>
</div>
<div class="container mx-auto pt-8">
  <div class="grid grid-cols-12 pb-12">
    <div class="col-start-2 col-end-12">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-4">
          <div class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700">
            <div class="flex justify-center">
              <img
                class="h-16 w-16 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50"
                src="/assets/home-image/tarik-hossain.jpg"
                alt=""
              />
            </div>
            <p class="flex justify-center text-lg font-bold pt-6">
              Mr. Tarik Hossain
            </p>
            <p class="flex justify-center text-sm text-sky-700 font-bold uppercase">Founder & CEO</p>
            <p class="flex justify-center text-center">
              Grow your Business Online with e Commerce Services.We enable
              Startups, brands and retailers to start selling their products
              online.
            </p>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
          <div class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700">
            <div class="flex justify-center">
              <img
                class="h-16 w-16 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50"
                src="/assets/home-image/shamim-reza.jpg"
                alt=""
              />
            </div>
            <p class="flex justify-center text-lg font-bold pt-6">
              Mr. Shamim Reza
            </p>
            <p class="flex justify-center text-sm text-sky-700 font-bold uppercase">Founder & COO</p>
            <p class="flex justify-center text-center">
              Grow your Business Online with e Commerce Services.We enable
              Startups, brands and retailers to start selling their products
              online.
            </p>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-4">
          <div class="px-8 py-6 rounded-md border hover:border-sky-700 transition duration-700">
            <div class="flex justify-center">
              <img
                class="h-16 w-16 p-1 rounded-full ring-4 ring-sky-700 shadow-lg shadow-sky-500/50"
                src="/assets/home-image/imran-hossain.jpg"
                alt=""
              />
            </div>
            <p class="flex justify-center text-lg font-bold pt-6">
              Md. Imran Hossain
            </p>
            <p class="flex justify-center text-sm text-sky-700 font-bold uppercase">Entrepreneur</p>
            <p class="flex justify-center text-center">
              Grow your Business Online with e Commerce Services.We enable
              Startups, brands and retailers to start selling their products
              online.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
