<footer class="bg-slate-50">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 py-4">
          <div class="col-span-12 lg:col-span-4 pr-2 text-gray-900">
            <h2 class="font-bold text-gray-900">
              aia<span class="text-red-600">D</span>evs
            </h2>
            <p class="text-justify">
              aiaDevs is a cutting-edge software company. If you have the
              Commitment and Desire to develop your eCommerce business or static
              website With a team of highly skilled developers.
            </p>
            <p class="text-justify">aiaDevs offers custom software solutions for businesses to increase efficiency, and drive growth.</p>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-medium text-gray-900">Information</p>
            <ul>
              <li class="cursor-pointer" [routerLink]="">Press</li>
              <li class="cursor-pointer" [routerLink]="">Gallery</li>
              <li class="cursor-pointer" [routerLink]="">About us</li>
              <li class="cursor-pointer" [routerLink]="">Contact us</li>
              <li class="cursor-pointer" [routerLink]="">Privacy Policy</li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-medium text-gray-900">Important Link</p>
            <ul>
              <li class="cursor-pointer" [routerLink]="">Press</li>
              <li class="cursor-pointer" [routerLink]="">Gallery</li>
              <li class="cursor-pointer" [routerLink]="">About us</li>
              <li class="cursor-pointer" [routerLink]="">Contact us</li>
              <li class="cursor-pointer" [routerLink]="">Privacy Policy</li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-medium text-gray-900">Business</p>
            <ul>
              <li class="cursor-pointer" [routerLink]="">Web</li>
              <li class="cursor-pointer" [routerLink]="">eCommerce</li>
              <li class="cursor-pointer" [routerLink]="">Business</li>
              <li class="cursor-pointer" [routerLink]="">Entertainment</li>
              <li class="cursor-pointer" [routerLink]="">Portfolio</li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-medium text-gray-900">Contacts</p>
            <p>
              Office: 63/C Asad Avenue, Dhaka 1207, Bangladesh.
            </p>
            <p>Number: +8801305 235894<br />Email: info@aiadevs.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 border-t border-gray-400 py-2">
          <div class="col-span-8">
        <p class="text-gray-900">Copyright &copy; 2023 aiadevs.com</p>
      </div>
      <div class="col-span-4 flex justify-end">
        <mat-icon class="text-gray-900"
          aria-hidden="false"
          aria-label="Example facebook icon"
          fontIcon="facebook"
        ></mat-icon>
      </div>
        </div>
      </div>

    </div>
  </div>
</footer>
