<footer class="bg-gray-100">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 py-6">
          <div class="col-span-12 lg:col-span-4 pr-2 text-gray-900">
            <p class="text-3xl font-bold text-sky-700">
              aia<span class="text-black">D</span>evs
            </p>
            <p class="text-justify text-xs lg:text-sm">
              aiaDevs is a cutting-edge software company. If you have the
              Commitment and Desire to develop your eCommerce business or static
              website With a team of highly skilled developers.
            </p>
            <p class="text-justify text-xs lg:text-sm">
              aiaDevs offers custom software solutions for businesses to
              increase efficiency, and drive growth.
            </p>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-bold text-sky-700">Business</p>
            <ul>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Portfolio
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                eCommerce
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Web Development
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Graphics Design
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Social Marketing
              </li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-bold text-sky-700">Information</p>
            <ul>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Pricing
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                About us
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Whats new
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Contact us
              </li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-bold text-sky-700">Important Link</p>
            <ul>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                FAQ
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Security
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Press/Media
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Privacy Policy
              </li>
              <li class="cursor-pointer text-xs lg:text-sm hover:text-sky-700" [routerLink]="">
                Terms of Service
              </li>
            </ul>
          </div>
          <div class="col-span-6 lg:col-span-2 text-gray-900">
            <p class="text-xl font-bold text-sky-700">Contacts</p>
            <p class="text-xs lg:text-sm">
              <span class="font-bold">Office:</span> 63/C, Asad Avenue, Dhaka
              1207, Bangladesh.
            </p>
            <p class="text-xs lg:text-sm">
              <span class="font-bold">Number:</span> +8801305 235894<br /><span
                class="font-bold"
                >Email:</span
              >
              info@aiadevs.com
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 border-t border-gray-400 py-2">
          <div class="col-span-8">
            <p class="text-sky-700 text-xs lg:text-sm">
              Copyright &copy; 2023 aiadevs.com
            </p>
          </div>
          <div class="col-span-4 flex justify-end">
            <mat-icon
              class="text-gray-900 hover:text-sky-700 cursor-pointer"
              aria-hidden="false"
              aria-label="Example facebook icon"
              fontIcon="facebook"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
