<footer class="bg-gray-50">
  <div class="container mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 py-4 border-t border-black">
          <div class="col-span-12 lg:col-span-3 pr-2">
            <h2 class="font-bold text-black">
              aia<span class="text-red-600">D</span>evs
            </h2>
            <p>
              aiaDevs is a cutting-edge software company. If you have the
              Commitment and Desire to develop your eCommerce business or static
              website With a team of highly skilled developers, AIADevs offers
              custom software solutions for businesses to increase efficiency,
              and drive growth.
            </p>
          </div>
          <div class="col-span-12 lg:col-span-3">
            <p class="text-base font-medium">Contact Info</p>
            <ul>
              <li class="cursor-pointer" [routerLink]="">Press</li>
              <li class="cursor-pointer" [routerLink]="">Gallery</li>
              <li class="cursor-pointer" [routerLink]="">About us</li>
              <li class="cursor-pointer" [routerLink]="">Contact us</li>
              <li class="cursor-pointer" [routerLink]="">Privacy Policy</li>
            </ul>
          </div>
          <div class="col-span-12 lg:col-span-3">
            <p class="text-base font-medium">Important Link</p>
            <ul>
              <li class="cursor-pointer" [routerLink]="">Press</li>
              <li class="cursor-pointer" [routerLink]="">Gallery</li>
              <li class="cursor-pointer" [routerLink]="">About us</li>
              <li class="cursor-pointer" [routerLink]="">Contact us</li>
              <li class="cursor-pointer" [routerLink]="">Privacy Policy</li>
            </ul>
          </div>
          <div class="col-span-12 lg:col-span-3">
            <p class="text-base font-medium">Contact Info</p>
            <p>
              Corporate office: 2nd floor, 63/C Asad Avenue,<br />
              Dhaka 1207, Bangladesh.
            </p>
            <p>Contact number: +8801305 235894<br />Email: info@aiadevs.com</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12">
      <div class="col-start-2 col-end-12">
        <div class="grid grid-cols-12 gap-4 border-t border-black py-2">
          <div class="col-span-8">
        <p>Copyright &copy; 2023 aiadevs.com</p>
      </div>
      <div class="col-span-4 flex justify-end">
        <mat-icon
          aria-hidden="false"
          aria-label="Example facebook icon"
          fontIcon="facebook"
        ></mat-icon>
      </div>
        </div>
      </div>

    </div>
  </div>
</footer>
